# Cache
__pycache__/


# Packaging
notebooks/
archives/
build/
dist/
*.egg-info/


# Notebooks
.ipynb_checkpoints/


# Sphinx documentation
docs/source/
docs/_build/

# Others
.idea/
docs/Makefile
docs/make.bat

